name: Main Workflow - Nombre Din치mico

on:
  push:
    branches: [ main ]

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Generar nombre del job
        id: set_name
        run: echo "job_name=${{ github.job }}" >> $GITHUB_OUTPUT

      - name: Llamar reusable con nombre din치mico
        uses: ./.github/workflows/reusable.yml
        with:
          caller_job: ${{ steps.set_name.outputs.job_name }}

  job2:
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Generar nombre del job
        id: set_name
        run: echo "job_name=${{ github.job }}" >> $GITHUB_OUTPUT

      - name: Llamar reusable con nombre din치mico
        uses: ./.github/workflows/reusable.yml
        with:
          caller_job: ${{ steps.set_name.outputs.job_name }}

  job3:
    needs: job2
    runs-on: ubuntu-latest
    steps:
      - name: Generar nombre del job
        id: set_name
        run: echo "job_name=${{ github.job }}" >> $GITHUB_OUTPUT

      - name: Llamar reusable con nombre din치mico
        uses: ./.github/workflows/reusable.yml
        with:
          caller_job: ${{ steps.set_name.outputs.job_name }}