name: Main Workflow

on: [push]

jobs:
  job1:
    uses: ./.github/workflows/reusable.yml  # Correcto
    with:
      caller_job: job1

  qqqqqqqqqqqqqqq:
    needs: job1
    uses: ./.github/workflows/reusable.yml  # Correcto
    with:
      caller_job: job2

  job3:
    needs: qqqqqqqqqqqqqqq
    uses: ./.github/workflows/reusable.yml  # Correcto
    with:
      caller_job: job3