name: Main Workflow

on: [push]

jobs:
  job1:
    uses: ./.github/workflows/reusable.yml  # Correcto
    with:
      caller_job: job1

  job2:
    needs: job1
    uses: ./.github/workflows/reusable.yml  # Correcto
    with:
      caller_job: job2

  job3:
    needs: job2
    uses: ./.github/workflows/reusable.yml  # Correcto
    with:
      caller_job: job3