# .github/workflows/setup-environments.yml
name: Setup Environments + Aprobadores

on:
  workflow_dispatch:   # Ejecuta manualmente una vez

jobs:
  create-envs:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Crear environments con aprobadores
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          OWNER="jmorenocastillo"           
          REPO="clonerepo"                     
          USERNAME="jmorenocastillo"     
          TEAM_SLUG=""     

          for ENV in dev staging production; do
            echo "Configurando environment: $ENV"

            USER_ID=$(curl -s -H "Authorization: token $GH_TOKEN" \
              https://api.github.com/users/$USERNAME | jq -r .id)

