# Este es un WORKFLOW REUTILIZABLE
name: Reusable Workflow

on:
  workflow_call:
    inputs:
      caller_job:
        type: string
        required: true

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Invocado por: ${{ inputs.caller_job }}"